body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(124,244,213,96%)/*light teal*/;
    margin:0;
}
    
header, footer {
    background-color: white;
    color: black;
    padding:10px;
    text-align: center;
}
    
header h1 {
    float:left;
}
    
 header ul {
    font-size:0;
}
    
header li {
    list-style:none;
    /* border:1px solid black; */
    display:inline-block;
    margin:0;
    font-size:16px;
}
    
header a {
    padding:10px;
    display:block;
    text-decoration:none;
    color:black;
}
    
header a:hover {
    color:rgb(242,132,62,95%)/*orange*/;
}
    
header nav {
    float:right;
}
    
header nav a:hover {
    color:white;
    background-color:rgb(242,132,62,95%)/*orange*/;
    border-radius: 10px;
}
    
header img {
    float:left;
}
    
main {
    box-sizing: border-box;
}

main:after {
    content: "";
    display: table;
    clear: both;
}

aside {
    box-sizing:border-box;
    float:left;
    width:25%;
    background-color:rgb(140,123,93)/*dark brown*/;
    padding:10px;
    margin:10px;
}

aside li {
    list-style:none;
}

article.content {
    box-sizing:border-box;
    float:left;
    width:75%;
    padding:10px;
    margin:10px;
}

figcaption {
    display:none;
}

main#voting {
    text-align:center;
    padding:10px;
}
    
label {
    background-color: white;
    border: 2px solid rgb(242,132,62,95%)/*orange*/;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
}
    
label:hover {
    background-color: rgb(242,132,62,95%)/*orange*/;
    border: 2px solid white;
    color: white;
}
    
label:active {
    background-color: rgb(242,132,62,95%)/*orange*/;
    border: 2px solid white;
    color: white;
}
    
input[type=radio] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}
    
input[type=radio]:checked + label {
    background-color: rgb(242,132,62,95%)/*orange*/;
    border: 2px solid white;
    color: white;
}
    
footer a,aside a {
    text-decoration:none;
    color:black;
}
    
footer a:hover,aside a:hover {
    color:rgb(242,132,62,95%)/*orange*/;
}
    
/*creates masonry*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

#columns {
    /*creates masonry*/
    margin:1.5em auto;
    box-sizing:border-box;
    column-gap: 1.5em;
}

article {
    display:inline-block;
    background-color:white;
    vertical-align: top;
    padding: 1em;
    margin: 0 0 1.5em;
}

.rating {
    /*creates masonry*/
    padding: 1em;
    margin: 0 0 1.5em;
    max-width:220px;
}
    
article img {
    max-width:100%;
}
    
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
    
    /*the remainder of code makes masonry responsive*/
    /* Masonry on medium-sized screens */
@media only screen and (min-width: 1024px) {
    #columns {
        column-count: 4;
    }
}
    
    /* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #columns {
        column-count: 3;
    }
}
    
    /* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    #columns {
        column-count: 2;
    }
}
    
    /* Masonry on smallest screens */
@media only screen and (max-width: 540px) {
    #columns {
        column-count: 1;
    }
    aside, article.content {
        width:100%;
    }
}